<form novalidate autocomplete="off" #form="ngForm" (submit)="showredirectUrl()">
    <input type="hidden" name="id" [value]="service.formData.id">
    <div class="form-group">
        <label>Short URL</label>
        <input class="form-control form-control-lg" placeholder="Enter pivot url" name="shorturl"
        #shorturl="ngModel" [(ngModel)]="service.formData.shorturl" required [class.invalid]="shorturl.invalid && shorturl.touched">
    </div>
    <div class="form-group">
        <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="form.invalid">SUBMIT</button>
    </div>
</form>

<table>
    <tbody>
        <tr *ngFor="let link of service.list">
            <td>{{link.longurl}}</td>
        </tr>
    </tbody>
</table>